


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

svg{
    height: 20px;
    width: auto;
}

.container{
    display: grid;
    grid-template-columns: minmax(187px, 10vw) minmax(90vw,1799px);
    grid-template-rows: 15vh 85vh;
}

.dash{

    /* in the page layout */

    grid-column: 1/2;
    grid-row: 1/-1;

    /* for itself */
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;

    background-color: rgb(240, 203, 155);

    box-shadow: 2px 2px 2px 1px gray;

    padding: 20px;
}


.dashIcon span{
    padding: 10px;
    position: relative;
    bottom: 3px;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);

}

:hover.dashIcon span{
    background-color: rgb(127, 189, 189);
}

.bigDashIcon{
    font-size: 40px;
}

.header{
    grid-column: 2/-1;
    grid-row: 1/2;

    /* for itself */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(127, 189, 189);
    justify-items: end;
    align-items: center;
    padding-bottom: 30px;
    box-shadow: 2px 2px 2px 1px gray;
    
}


.search{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 20px ;
}



.searchBar{
    width: 10vw;
    height: 30px;
    background-color: rgb(69, 69, 69);
    border-radius: 25px;
    

}


.profilePic{
    height:40px;
    border-radius: 50px;
}


.userTop{
    display: grid;
    grid-template-columns: repeat(3, 60px);
    justify-self: end;
    align-items: center;
    padding: 10px;

}



.user{
    padding-left: 20px ;
    margin-top: 20px;
    justify-self: end;
}


.user span{
    font-weight: 700;
    
}


.contentbuttons{
    padding-top: 20px;
    justify-self: end;
}

.contentbuttons button{
    padding: 20px 30px;
    margin: 0 10px;
    border-radius: 50px;
    border: solid 2px black;
}


.contentbuttons button:hover {
    background-color:rgb(127, 189, 189);
    border: solid 2px white;
}









.content{
    display:grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
}

.leftContent{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    
}







.contentHeader{
    grid-row: 1/2;
    grid-column:1/-1 ;
}

.rightContent{
  display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    gap: 15px;

}